body {
   margin: 0;
   background-color: #FFFFFF;
   font-family: Tahoma,Arial,"Arial Black";
}

/*Estilos Login*/
div.barra{
	width: 100%;
    height: 115px;
	background-color: #0A0C28;
	display:inline-block;
}
div.logo{
	float:left;
	margin-left: 15px;
}
div.titulo{
	display: inline-block;
	padding: 22px;
	color: FFFFFF;
	font-size: 28pt;
	height: 115px;
	margin-left: 100px;
}
div.logear{
	border: 4px solid #A93700;
	border-radius: 10px;
	margin-top: 30px;
	width: 400px;
}
#user, #pass{
	width: 85%;
}
#ing{
	padding: 15px;
	background-color:  #0A0C28;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #3D3DFE;
	color: white;
	margin-bottom: 5px;
}
/* ----- */
/*Estilos drawn main*/

paper-toolbar.barra{ 
    background-color: #0A0C28;
    height: 60px;

}
paper-toolbar.menu{
	background-color: #0E1461;
    height: 60px;
}
#home{
	float:right;
	color: white;
	margin-left: 60%;
}
#titmenu{
	width: 100%;
	height: 100%;
	display: inline-block;
}
  #imag{
  	float:left;
  	margin-left: 5px;
  }
  #tit{
  	display: inline-block;
  	color:white;
  }
  div.main{
	width: 100%;
	height: 100%;
	margin-left: 0;
	padding: 0;
}
 paper-menu.list{
    background-color:#DAFAFF; 
    height:100%;
    width:100%;
    list-style:none;
  }
#menup{
    color:#0A0C28 ;
    font-weight:bold;
  }
 #icono{

 	color:#DD6C00;
 }

/*Estilos para inicio*/

#galeriaa{
	margin-top: 10px;
	width: 100%;
	height: 100%;
}


 /*buscar*/
 div.buscador{
	border: 4px solid #A93700;
	border-radius: 10px;
	margin-top: 30px;
	width: 90%;
	background-color: #FFDBB9;
}
#lineadebus,#bus{
	font-size: 14pt;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #A93700;
	color:black;
	width: 85%;
	height: 40px;
	background-color: white;

}
 #busc{
	padding: 15px;
	background-color:  #0A0C28;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #3D3DFE;
	color: white;
	margin-bottom: 5px;
}
/*-para buscar*/
#myDiv{
border: 4px solid black;
margin-top: 10px;
border-style:dashed;
width: 90%;
height: 100%;
color:#00008B;
padding:10px 10px;
}

/*agregar foto*/

 div.archivo{
	border: 4px solid #A93700;
	border-radius: 10px;
	margin-top: 30px;
	width: 90%;
	background-color: #FFDBB9;
}
#sub{
	padding: 15px;
	background-color:  #0A0C28;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px solid #3D3DFE;
	color: white;
	margin-bottom: 5px;}
#lineagr{
	padding:5px;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #A93700;
	color:black;
	width: 85%;
}
div.detalle{

	border-radius: 2px ;
	background-color: #FFDBB9;
	padding: 5px;
	width: 85%;
	color: black;
}